* {
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: black;
}

/* ::before{
   content: \e896;
   color: aliceblue; 
} */                       

.ac-picture{
    border-bottom: 8px solid #222;
    margin-top: 0.5px;

/*css per ridimensionare l'immagine*/
    max-width: 100%;
    height: 740px;
    background: transparent no-repeat center;
    background-size: cover;

}

.ac-shadow{
/*css per il gradient*/
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));

    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

/*css per il border*/
    height: 742px;
    border-bottom: 8px solid #222;

}

.ac-heads{
    margin-top: -500px;

    position: relative;
    z-index: 1;

}

.ac-title{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ac-heads .ac-title >h1{
    font-size: 50px;
}

.ac-subtitle{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 0px 119px;
}

.ac-heads .ac-subtitle > h2 {
    font-size: 26px;
}

.ac-h3{
    padding-bottom: 20px;
    color: white;
}

.ac-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    z-index: 1;

}

.ac-form .ac-h3>h3{
    font-size: 19.2px;
}

