@media screen and (max-width:768px) {
    .linksFooter{ 
       display: grid;
       grid-template-columns: repeat(2, 1fr);
}
}

body{
   display: flex;
   flex-direction: column;
   flex: 1;
}

footer{ 
background-color:black;
padding: 50px;
margin: 50px;
font-size: 1em;
position: absolute;
width: 90%;
flex: 1;
border: 50px solid black;
}

.h2{ 
   color:#737373; 
   font-size: 18px; 
   margin: 0px 80px 20px;
   font-family:Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif ; 
}

   .linksFooter{
       box-sizing: border-box;
       font-size: 13px;
       max-width: 1000px;
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-gap: 1rem;
       padding: 10px;
       padding-right: 50px;
       padding-left: 50px;
       
   }
   .lifooter{
       list-style: none; 
       font-family:Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif  ;
   }
 .af{ 
   color: #737373; 
    text-decoration: none; 
    font-size: 1em; 
   }

.giu{
   border: 30px solid transparent;
   margin-top: 0.5px;
   padding-left: 50px;
}

.selectfooter{ 
   background-color:  black; 
   color:#737373;
    border-color: transparent; 
   }
.optionfooter{
   color: white;
   background-color: black;
   border-color: transparent;
   }
.btnFooter{ 
   display: flex; 
   align-items: center; 
   width: 150px; 
   height: 50px;
   border-color: #737373; 
   border: 1px, solid; 
   border-radius: 6px; 
   background-color: black;
   
   }
.imgfooter{
   background-image:none;
}

.pfooter{  
   font-family:Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif; 
   font-size: 13px; 
   color:#737373; 
   margin-left: 80px;
   margin-top: 5px;
}